{% load menu_extras %}
<ul class="tree-menu">
    {% for node in items %}
        {% with item=node.item children=node.children %}
        <li class="{% if node.is_expanded %}expanded{% endif %}">
            <a href="{{ item.get_url }}" class="{% if node.is_active %}active{% endif %}">
                {{ item.title }}
            </a>
            {% if children and node.is_expanded %}
                <div class="submenu">
                    {% draw_menu_recursive children %}
                </div>
            {% endif %}
        </li>
        {% endwith %}
    {% endfor %}
</ul>